{
  "database": {
    "host": "localhost",
    "user": "root",
    "password": "bismillah",
    "database": "temp"
  },
  "destination_database": {
    "url": "mongodb://root:example@localhost:27017/",
    "database": "arena"
  },
  "workerSize": 15,
  "processingData": 100,
  "isMultilanguage": true,
  "migratePaketWisata": false,
  "prefix": "aw_"
}
